/* Animation for Container */
main {
  animation: transitionIn 1s ease-in-out;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* variables */
:root {
  --primary: #000;
  --secondary: #909090;
  --tertiary: #c4c4c4;
  --background: #fff;
  --highlight: #c03221;
  --blue: #2d81ff;
}

/* reset */

/* Code test here---------------------- */

.title-project-page {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 3rem;
}

.work-list {
  padding-bottom: 2rem;
}

.image-background {
  margin: 2rem 0;
}

.image-mobile,
.image-web {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.image-mobile img {
  max-height: 30vh;
  padding: 1rem 0;
  display: block;
  margin: auto;
}

.image-web img {
  max-height: 30vh;
  padding: 2rem 0;
  display: block;
  margin: auto;
}

.hidden-text {
  z-index: 1;
  position: absolute;
  text-align: center;
  padding: 0 2rem;
  opacity: 0;
  color: var(--background);
}

.hover-here:hover .hidden-text {
  opacity: 1;
  transition: 1s;
}

.hover-here:hover .hidden-img {
  opacity: 0.3;
  transition: 0.3s;
}

/* Code test here---------------------- */

/* fonts */
/* font-size for mobile devices */
body,
p,
a,
h1,
button,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  color: var(--primary);
}

h2 {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  color: var(--highlight);
}

h3 {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5vw;
  color: var(--primary);
}

h4 {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.5vw;
  font-style: normal;
  font-weight: 900;
}

a:hover {
  color: var(--primary);
}

/* base style */
body {
  min-height: 100vh;
  position: relative;
  /* display: grid;
      grid-template-rows: ; */
}

#homepage-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body {
  background: var(--background);
}

.header-container {
  background-color: var(--background);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}

.highlight {
  color: var(--highlight);
}

.link {
  color: var(--blue);
}

/* navbar for project pages */

#navbar-project {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.navbar-project {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.line-project-bottom {
  border-bottom: 2px solid;
}

/* footer for project pages */

.footer-project {
  display: flex;
  border-top: 2px solid var(--secondary);
  border-bottom: 3px solid var(--primary);
  padding: 2rem 0 1rem 0;
  margin-bottom: 2rem;
  justify-content: space-between;
}

/* lines */

.line-menu {
  border-top: 3px solid var(--primary);
}

.line-menu-bottom {
  border-bottom: 2px solid;
  padding: 1rem 0;
}

.line-top {
  border-top: 2px solid var(--primary);
  padding: 1rem 0;
}

/* button hover */

.button:hover {
  font-weight: bold;
}

/* grid testing ------------- */
/* header grid */
.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.navbar .one {
  grid-column: 1/4;
  grid-row: 1;
}

.navbar .two {
  grid-column: 1/2;
  grid-row: 2;
}

.navbar .three {
  grid-column: 2/3;
  grid-row: 2;
}

.navbar .four {
  grid-column: 3/4;
  grid-row: 2;
}

/* grid testing end ------------ */

/* mobile style --------------------------------------*/

.container,
.container-for-project {
  max-width: 100%;
  padding: 0 1rem;
}

.footer,
.footer-home,
.workpage-footer {
  padding-bottom: 2rem;
}

.footer-home .upper-part {
  padding: 2rem 0;
}

.home-content,
.container-about,
.sm-hero-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* home page */

.home-intro img {
  width: 100%;
  padding-top: 2rem;
}

/* about page */

.about-content {
  display: grid;
  gap: 2rem;
}

.image-content img {
  max-width: 100%;
}

.skill-tool p {
  padding-bottom: 1rem;
}

/* grid-project */
.grid-project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}

.grid-project .left-content {
  grid-column: 1/3;
}

.grid-project .right-content {
  grid-column: 3/4;
}

.subtitle p {
  font-size: 0.75em;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.title p {
  font-size: 1.125em;
  letter-spacing: 0.25rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
}

.intro {
  padding-bottom: 1.5rem;
}

.button-project img {
  padding-left: 1rem;
}

/* Work Page */
/* footer */
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.footer,
.lower-part {
  display: flex;
  flex-direction: column;
}

.lower-part {
  padding-top: 2rem;
}

/* Hidden Content */

.lg-hero-content {
  display: none;
}

/* Project Presentation  */

.project-column {
  display: none;
}

.sm-filter {
  height: 100%;
  border-style: none;
  background-color: rgba(34 30 31 / 0.3);
  background-position: center;
}

.mobile-img,
.web-img {
  height: 100%;
  display: flex;
  align-items: center;
}

.mobile-img img {
  max-width: 75%;
  display: block;
  margin: auto;
}

.web-img img {
  max-width: 85%;
  display: block;
  margin: auto;
}

.sm-background-1 {
  border-style: none;
  background-image: linear-gradient(to left, #d7a4f9, #fca3c4);
}

.sm-background-2 {
  border-style: none;
  background-image: linear-gradient(
    to left,
    rgba(252, 100, 0, 0.8),
    rgba(0, 136, 200, 0.6)
  );
}

.sm-background-3 {
  border-style: none;
  background-image: linear-gradient(to left, #ffd9ab, #a6caff);
}

.sm-background-4 {
  border-style: none;
  background-image: linear-gradient(to right, #fff8f5, #c92f00);
}

/* ALLY PROJECT ------------*/

.section-distance {
  padding: 10vw 0;
}

.sm-section,
.key-solution {
  padding-bottom: 5vw;
}

.project-name {
  margin-top: -4rem;
}

.img-project {
  padding: 5vw 0;
  width: 100%;
}

.img-project img {
  border: solid 1px var(--tertiary);
  width: 100%;
}

.project-intro {
  width: 100%;
  display: block;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
}

.project-intro .hero-img,
.project-intro .web-hero-img {
  max-width: 40vh;
  display: block;
  margin: auto;
  padding-bottom: 1rem;
}

/* what-is-ally */
.what-is-ally,
.what-is-organimi,
.what-is-ecycle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.what-is-ally img,
.what-is-organimi img,
.what-is-ecycle img {
  grid-column: 2/3;
  max-width: 30vw;
  padding-bottom: 1rem;
}

.what-is-ally div,
.what-is-organimi div,
.what-is-ecycle div {
  grid-column: 1/4;
  text-align: center;
}

/* competitive analysis */
.get-inspired-gif {
  width: 100%;
  text-align: center;
  padding: 5vw 0;
}

.get-inspired-gif img {
  width: 50vw;
}

.insight {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
}

.insight-left,
.insight-right {
  grid-column: 1/5;
}

.insight-right {
  padding-bottom: 1rem;
}

/* sketches */
.sketch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 5vw 0;
}

.sketch-img img {
  border: solid 1px var(--tertiary);
  width: 100%;
}

/* 6 major improvements */
.key-solution {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}

.key-solution > div {
  grid-column: 1/3;
}

/* final product */
.other-screen {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 2rem 0;
  align-items: center;
}

.other-screen img {
  width: 100%;
}

/* ORGANIMI PROJECT ---------------*/

ol {
  padding-top: 2rem;
}

.organimi li {
  padding-bottom: 1rem;
}

.final-solution > p {
  padding-bottom: 1rem;
}

/* ECYCLE PROJECT ---------- */

.ecycle-logo img {
  width: 20vw;
  margin: auto;
  display: block;
}

.proposed-solution {
  text-align: center;
}
.proposed-solution img {
  width: 30vw;
  padding-bottom: 1rem;
}

.eight-solutions div {
  padding-top: 2rem;
}

/* mobile style end -------------------------------------- */

/* tablet style --------------------------------------*/
@media only screen and (min-device-width: 768px) {
  /* font size */
  body,
  p,
  a,
  h1,
  button,
  li,
  h2 {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.7rem;
    letter-spacing: 0.25rem;
  }

  h4 {
    font-size: 5rem;
    line-height: 1.7rem;
    letter-spacing: 1rem;
  }

  /* container */
  .container,
  .container-for-project {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* footer for project pages */
  .navbar-project {
    padding-top: 2.5rem;
  }

  /* header grid */
  .navbar {
    gap: 1.5rem;
  }

  /* about page */

  .image-content img {
    width: 100%;
  }

  .about-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
  }

  .about-content .kim-design {
    grid-column: 1/3;
    grid-row: 1;
  }

  .about-content .kim-no-design {
    grid-column: 1/4;
    grid-row: 2;
  }

  .about-content .image-content {
    grid-column: 3/4;
    display: inline;
    grid-row: 1;
  }

  .about-content .what-set-me-apart,
  .about-content .skill-tool {
    grid-column: 1/4;
  }

  .skill-tool {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  .skill-tool h1 {
    grid-column: 1/3;
  }

  /* grid-project */
  .grid-project {
    gap: 1.5rem;
    padding: 2rem 0;
    position: relative;
  }

  .subtitle p {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 2rem;
  }

  .title p {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    font-weight: 800;
    padding-bottom: 2rem;
  }

  .intro {
    font-size: 2rem;
    max-width: 50vw;
  }

  .mobile-img img {
    max-width: 65%;
  }

  .web-img img {
    max-width: 85%;
  }

  .grid-project .right-image {
    height: 35vw;
  }

  .button-project {
    position: absolute;
    bottom: 4vw;
  }

  /* Each Project */

  .work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-bottom: 3rem;
  }

  .image-mobile img,
  .image-web img {
    max-height: 20vh;
  }

  /* ally page --------------*/

  /* content in center */
  .what-is-ally,
  .what-is-ecycle,
  .what-is-organimi .challenge,
  .problem,
  .proposed-solution {
    margin: 0 4vw;
  }

  /* competitive analysis */
  .what-is-ally img,
  .what-is-organimi img,
  .what-is-ecycle img {
    width: 20vw;
    margin: auto;
    display: block;
  }
  .get-inspired-gif img {
    width: 40vw;
  }

  .insight {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }

  .insight-left {
    grid-column: 1/2;
  }

  .insight-right {
    grid-column: 2/3;
  }

  /* Organimi page ---------------*/

  .project-intro .web-hero-img {
    max-width: 50vh;
    display: block;
    margin: auto;
    padding-bottom: 1rem;
  }

  /* ecycle page ---------------*/
  .ecycle-logo img {
    width: 15vw;
  }
}

/* tablet style end -------------------------------------- */

/* larger tablet style -------------------------------------- */
@media only screen and (min-device-width: 1024px) {
  /* about page */
  .about-content .kim-design {
    grid-column: 1/3;
    grid-row: 1;
  }

  .about-content .kim-no-design {
    grid-column: 1/3;
    grid-row: 2;
  }

  .about-content .image-content {
    grid-column: 3/4;
    display: inline;
    grid-row: 1/3;
  }

  .about-content .what-set-me-apart,
  .about-content .skill-tool {
    grid-column: 1/4;
  }
}

/* small desktop style --------------------------------------*/
@media only screen and (min-device-width: 1200px) {
  /* footer home page */
  .footer-home .upper-part {
    padding: 1rem 0;
  }

  .home-content,
  .container-about,
  .sm-hero-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container {
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;
  }

  .container-for-project {
    max-width: 1000px;
    margin: auto;
  }

  #workpage-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  /* lines */
  .line-menu {
    border-top: 4px solid var(--primary);
  }

  .line-menu-bottom {
    border-bottom: 2.5px solid;
    padding: 1.5rem 0;
  }

  .line-top {
    border-top: 2.5px solid var(--primary);
    padding: 1.5rem 0;
  }

  /* Hidden Content */

  .sm-hero-content {
    display: none;
  }

  /* footer for project pages */
  .navbar-project {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }
  .line-project-bottom {
    border-bottom: 2.5px solid var(--secondary);
  }

  /* header grid */
  .navbar {
    column-gap: 3rem;
    row-gap: 1rem;
    /* padding-bottom: 5rem; */
  }

  /* footer grid for home page and other pages */
  .footer,
  .footer-home {
    padding-top: 2rem;
  }

  .upper-part,
  .lower-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .upper-part .hire-me {
    grid-column: 1/3;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  /* home page */
  .lower-part {
    padding-top: 0;
  }

  .home-content {
    height: calc(100vh - 515.5px);
    padding-top: 0rem;
    padding-bottom: 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: end;
  }

  .home-content .home-intro {
    grid-column: 1/3;
  }

  .home-intro img {
    width: 100%;
    padding-top: 3rem;
  }

  /* about page */

  .about-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    align-items: start;
  }

  .about-content .kim-design {
    grid-column: 1/3;
    grid-row: 1;
  }

  .about-content .kim-no-design {
    grid-column: 1/3;
    grid-row: 2;
  }

  .about-content .image-content {
    grid-column: 3/4;
    display: inline;
    grid-row: 1/4;
  }

  .about-content .what-set-me-apart {
    grid-column: 1/3;
  }

  .about-content .skill-tool {
    grid-column: 1/4;
    padding-top: 2rem;
  }

  .skill-tool {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .skill-tool h1 {
    grid-column: 1/3;
  }

  /* WORK PAGE------------ */

  /* Hidden Content */
  .sm-hero-content {
    display: none;
  }

  #hiddenOrganimi,
  #hiddenEcycle,
  #hiddenFoodie {
    visibility: hidden;
  }

  .highlight-work-page {
    font-weight: 700;
  }

  .lg-hero-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .lg-hero-content .right-content {
    grid-column: 3/4;
  }

  .right-content > div {
    margin-bottom: 2rem;
  }

  .lg-hero-content .left-content {
    position: relative;
    grid-column: 1/3;
  }

  /* Grid for Left content */
  .lg-grid-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .lg-grid-project .background,
  .lg-grid-project .filter {
    grid-column: 1/3;
    grid-row: 1;
  }

  .lg-grid-project .left {
    grid-column: 1;
    grid-row: 1;
  }

  .lg-grid-project .right-mobile {
    grid-column: 2;
    grid-row: 1;
  }

  .lg-grid-project .right-website {
    grid-column: 2;
    grid-row: 1;
  }

  .left {
    margin: 5vw 0 0 3vw;
  }

  .subtitle p {
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1vw;
    color: var(--background);
  }

  .title p {
    font-size: 3em;
    letter-spacing: 0.25rem;
    line-height: normal;
    font-weight: 800;
    padding-bottom: 3vw;
    color: var(--background);
  }

  .intro p {
    padding-bottom: 3vw;
    line-height: normal;
    color: var(--background);
  }

  .button-project {
    position: relative;
    bottom: 0;
  }

  .right-mobile {
    height: calc(calc(100vh - 325px) - 2rem);
    margin: 1rem 0;
    padding: 1rem 0;
  }

  .right-website {
    height: calc(calc(100vh - 325px) - 2rem);
    margin: 1rem 0;
    padding: 1rem 0;
  }

  .right-mobile img {
    height: 100%;
    float: right;
    padding-right: 2rem;
  }

  .right-website img {
    max-height: 100%;
    max-width: 100%;
    float: right;
  }
  /* background color */
  .project-ally .background {
    border-style: none;
    background-image: linear-gradient(to left, #d7a4f9, #fca3c4);
  }

  .project-organimi .background {
    border-style: none;
    background-image: linear-gradient(
      to left,
      rgba(252, 100, 0, 0.8),
      rgba(0, 136, 200, 0.6)
    );
  }

  .project-ecycle .background {
    border-style: none;
    background-image: linear-gradient(to left, #ffd9ab, #a6caff);
  }

  .project-foodie .background {
    border-style: none;
    background-image: linear-gradient(to right, #fff8f5, #c92f00);
  }

  .filter {
    border-style: none;
    background-color: rgba(34 30 31 / 0.2);
  }

  .project-ally {
    position: absolute;
  }

  .project-organimi {
    position: absolute;
    z-index: 5;
  }

  .project-ecycle {
    position: absolute;
    z-index: 10;
  }

  .project-foodie {
    position: absolute;
    z-index: 20;
  }

  /* EACH PROJECT */
  .title-project-page {
    font-size: 2rem;
  }

  .work-list {
    gap: 3rem;
  }

  .image-mobile img,
  .image-web img {
    max-height: 45vh;
  }

  .image-web img {
    padding: 3rem 0;
  }
  /* ALLY PROJECT ------------*/

  .section-distance {
    padding: 100px 0;
  }

  .sm-section,
  .key-solution {
    padding-bottom: 50px;
  }

  .project-name {
    font-size: 5rem;
    font-weight: 900;
    margin-top: -4rem;
    line-height: normal;
    letter-spacing: 6px;
  }

  .img-project {
    padding: 50px 0;
    width: 100%;
  }

  .img-project img {
    border: solid 1px var(--tertiary);
    width: 100%;
  }

  .project-intro {
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
  }

  /* what-is-ally */
  .what-is-ally {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    vertical-align: middle;
    gap: 1rem;
  }

  .what-is-ally img {
    grid-column: 1;
    max-width: 90%;
    margin: -1.5rem 0 -1.5rem 0;
  }

  .what-is-ally div {
    grid-column: 2/4;
    text-align: left;
  }

  /* competitive analysis */
  .get-inspired-gif {
    padding: 50px 0;
  }
  .get-inspired-gif img {
    max-width: 300px;
  }

  /* sketches */
  .sketch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 50px 0;
  }

  /* 6 major improvements */
  .highlight {
    font-size: 3rem;
    line-height: normal;
    padding: 3rem 0 2rem 0;
  }

  .key-solution {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .key-solution .image-example {
    padding-bottom: 1rem;
  }

  .animated-screen-img img {
    width: 200px !important;
  }

  /* final product */
  .other-screen {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem 0;
    align-items: center;
  }

  .other-screen img {
    width: 100%;
  }

  /* ORGANIMI PROJECT ---------------*/

  .project-intro .web-hero-img {
    max-width: 75vh;
    display: block;
    margin: auto;
    padding-bottom: 1rem;
  }

  /* what-is-organimi */
  .what-is-organimi {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .what-is-organimi img {
    grid-column: 1;
    max-width: 90%;
    margin-top: 4rem;
  }

  .what-is-organimi div {
    grid-column: 2/4;
    text-align: left;
  }

  ol {
    padding-top: 2rem;
  }

  .organimi li {
    padding-bottom: 1rem;
  }

  .final-solution > p {
    padding-bottom: 1rem;
  }

  /* ECYCLE PROJECT ---------- */

  .what-is-ecycle {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .what-is-ecycle img {
    grid-column: 1;
    max-width: 90%;
    margin-top: 4rem;
  }

  .what-is-ecycle div {
    grid-column: 2/4;
    text-align: left;
  }

  .ecycle-logo img {
    width: 15vw;
    margin: auto;
    display: block;
  }

  .proposed-solution {
    text-align: center;
  }
  .proposed-solution img {
    width: 30vw;
    padding-bottom: 1rem;
  }

  .eight-solutions div {
    padding-top: 2rem;
  }

  .final-solution {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .final-solution .even {
    grid-column: 1;
  }

  .final-solution .odd {
    grid-column: 2;
  }

  .final-solution .img-project {
    grid-column: 1/4;
  }
}

/* small desktop style end -------------------------------------- */

@media only screen and (min-device-width: 1400px) {
  /* font size */
  body,
  p,
  a,
  h1,
  button,
  li,
  h2 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0.375rem;
  }

  h4 {
    font-size: 5rem;
    line-height: 1.875rem;
    letter-spacing: 1rem;
  }

  /* footer for project pages */
  #navbar-project {
    padding-bottom: 5rem;
  }
  /* header grid */

  .home-content {
    height: calc(100vh - 563.5px);
  }

  .navbar {
    padding-bottom: 5rem;
  }

  /* footer home page */
  .footer-home .upper-part {
    padding: 2rem 0;
  }

  .footer,
  .footer-home {
    padding-top: 3rem;
  }

  .right-mobile {
    height: calc(calc(100vh - 317px) - 8rem);
    margin: 1rem 0;
    padding: 1rem 0;
  }

  .right-website {
    height: calc(calc(100vh - 317px) - 8rem);
    margin: 1rem 0;
    padding: 1rem 0;
  }

  /* EACH PROJECT */
  .image-mobile img,
  .image-web img {
    max-height: 35vh;
  }

  .image-web img {
    padding: 3rem 0;
  }
}

/* large desktop style --------------------------------------*/
@media only screen and (min-device-width: 1500px) {
  /* font size */
  body,
  p,
  a,
  h1,
  button,
  li,
  h2 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0.375rem;
  }

  h4 {
    font-size: 5rem;
    line-height: 1.875rem;
    letter-spacing: 1rem;
  }
  /* about page */

  .about-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    align-items: start;
  }

  .about-content .kim-design {
    grid-column: 1/3;
    grid-row: 1;
  }

  .about-content .kim-no-design {
    grid-column: 1/3;
    grid-row: 2;
  }

  .about-content .image-content {
    grid-column: 3/4;
    display: inline;
    grid-row: 1/4;
  }

  .about-content .what-set-me-apart {
    grid-column: 1/3;
    grid-row: 3;
  }
  .about-content .skill-tool {
    grid-column: 1/4;
    padding-top: 2rem;
  }

  .skill-tool {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .skill-tool h1 {
    grid-column: 1/3;
  }

  /* project pages */
  /* hero section */
  .project-intro .hero-img {
    max-width: 45vh;
    display: block;
    margin: auto;
    padding-bottom: 1rem;
  }

  /* EACH PROJECT */
  .title-project-page {
    font-size: 2.5rem;
    padding-bottom: 6rem;
  }
  .image-mobile img,
  .image-web img {
    max-height: 45vh;
  }

  .image-web img {
    padding: 3rem 0;
  }
}

/* large desktop style end -------------------------------------- */
