* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #fff;
  color: #000 !important;
}

body h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat !important;
}

body p,
a {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.2rem !important;
  line-height: 2rem !important;
  font-style: normal;
  color: #909090;
}

.css-container {
  margin: 0 auto;
  width: 80vw;
}

/* ALLY PROJECT ---------------------- */

/* zoom in images */

input[type="checkbox"] {
  display: none;
}

.zoom-img img,
.zoom-wireframe img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
  width: 1000px;
  border: solid 1px;
  border-color: #c4c4c4;
  margin: 4rem 0;
}

.zoom-old-design img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
  width: 1000px;
  border: solid 1px;
  border-color: #000;
  margin: 4rem 0;
}

.zoom-noBoarder img {
  margin: 2rem 0 5rem 0;
  transition: transform 0.25s ease;
  cursor: zoom-in;
  width: 1000px;
}

.zoom-noBoarder-2 img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
  width: 1000px;
  margin: 4rem 0;
}

.zoom-design img {
  margin: 2rem 0 5rem 0;
  transition: transform 0.25s ease;
  cursor: zoom-in;
  width: 700px;
  margin-left: 5rem;
  align-items: center;
}

.zoom-sketch img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
  width: 300px;
  border: solid 1px;
  border-color: #c4c4c4;
  margin: 1rem 0;
}

input[type="checkbox"]:checked ~ label > img {
  width: 100%;
  cursor: zoom-out;
  z-index: 100 !important;
  position: fixed;
  margin: 0 auto;
  max-width: 80vw;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoom-noBoarder-2 input[type="checkbox"]:checked ~ label > img {
  width: 100%;
  cursor: zoom-out;
  z-index: 100 !important;
  position: fixed;
  margin: 0 auto;
  max-width: 80vw;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zoom-sketch input[type="checkbox"]:checked ~ label > img {
  width: min(636px, 100%);
}

.zoom-wireframe,
.zoom-noBoarder input[type="checkbox"]:checked ~ label > img {
  width: min(1200px, 100%);
}

.background-img {
  display: none;
}

input[type="checkbox"]:checked ~ label > .background-img {
  z-index: 99 !important;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.9;
  display: block;
  left: 0;
  right: 0;
}

/* ----------- */

#intro {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 270px 270px 220px;
}

#design-process {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 240px 200px 190px 200px 170px;
  grid-template-rows: 2;
}

.process {
  grid-column: 1 / 5;
  padding-bottom: 2rem;
}

#what-is-ally {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

#what-is-ally img {
  grid-column: 1 / 2;
}

#what-is-ally div {
  grid-column: 2 / 5;
  margin: 2rem 0;
}

.my-challenge {
  margin: 0 auto;
}

.insight {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 230px 770px;
  grid-template-rows: 2;
}

.two,
.four,
.six {
  margin-left: 150px;
  margin-bottom: 2rem;
}

.sketch {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
}

.key-solution {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 400px 900px;
  grid-template-rows: 6;
  align-items: center;
}

.key-solution div {
  margin: 2rem 0;
}

.key-solution > .img {
  margin-left: 5rem;
}

.other-screen {
  max-width: 1330px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 160px 180px 200px 180px 160px;
  align-items: center;
  justify-content: space-around;
}

/* ORGANIMI PROJECT ---------------------- */

#what-is-organimi {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  align-items: center;
}

#what-is-organimi img {
  grid-column: 1 / 2;
}

#what-is-organimi div {
  grid-column: 2 / 4;
  margin: 2rem 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  width: 1000px;
}

.col-left {
  width: 50%;
  padding-right: 50px;
}
.col-right {
  width: 50%;
  padding-left: 50px;
}
.col-3 {
  width: 100%;
}

li {
  font-size: 1vw !important;
}

/* ECYCLE PROJECT ---------------------- */

#what-is-ecycle {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: left;
  align-items: center;
}

#what-is-ecycle img {
  grid-column: 1 / 2;
  padding-top: 30px;
}

#what-is-ecycle div {
  grid-column: 2 / 8;
  margin: 2rem 0;
}

/* ANIMATED FLOWERS ---------------------- */
.rotate {
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ANIMATED MOUSE FOR PROJECT PAGES ---------------------- */
.intro {
  display: flex;
  padding: 100px;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  padding: 100px;
}

.scroll-btn {
  animation: bounce 0.9s;
  animation-duration: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate(0, 80px);
  }
  to {
    transform: translate(0, 100px);
  }
}

/* HEADER  */

#css-navbar {
  background-color: #fefefe;
  position: fixed;
  transition: top 0.3s;
  top: 0px;
  z-index: 10;
}

header .css-navbar {
  /* position: fixed; */

  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 100px;
  margin-top: 3rem;
}

#css-navbar .menu {
  display: flex;
}

#css-navbar .menu ul {
  display: none;
  font-size: 30px;
  font-weight: bold;
  list-style: none;
}

#css-navbar .menu ul li {
  width: 150px;
}

#css-navbar .menu ul a {
  color: black;
  text-decoration: none;
}

#css-navbar .menu ul.show {
  display: flex;
}

footer .line1,
footer .line2,
header .line-header {
  width: 80vw;
  border: 1px solid #000;
  margin: 0px !important;
  opacity: 100 !important;
}

/* FOOTER  */
footer {
  padding-top: 10rem;
}

#homepage-footer {
  padding-top: 0;
}

.upper-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.lower-footer {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  /* flex-basis: 200px; */
  justify-content: space-between;
  width: 80vw;
  height: 13px;

  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.05em;

  color: #000000;
}

/* HERO PAGE ---------------------- */
/* HERO PAGE ---------------------- */

main .css-container {
  position: static;
}

/* WELCOME section------------ */
/* WELCOME section------------ */

.hero-content {
  margin: 0;
  width: 80vw;
}

.content-wrap {
  margin-top: 70vh;
}

.main-content {
  display: flex;
  width: 80vw;
  height: 180px;
  align-items: center;
  justify-content: space-between;
}

.content-style {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 4vw;
  line-height: 5vw;
  letter-spacing: 0.02em;

  color: #ed9200;
}

.project-button {
  position: relative;
  /* display: flex; */
}

.mouse-button {
  width: 30px;
  position: absolute;
  top: 56px;
  left: 52px;
}

/* DIVIDER section------------ */
/* DIVIDER section------------ */

.divider {
  line-height: 70rem;
  height: 70rem;
  text-align: center;
}

.divider img {
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* PROJECT section------------ */
/* PROJECT section------------ */

.image-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -2;
  transform: translateY(10px);
}

#project-section {
  padding-top: 12rem;
  transform: translateY(-12rem);
  margin-bottom: -12rem;
}

.project-style {
  height: 11rem;
}

.grid-container {
  width: 80vw;
  display: grid;
  grid-template-rows: 50vh 50vh;
  grid-template-columns: 1fr 1fr;
}

.grid-container > div {
  border: solid 1px black;
}

.menu-box {
  /* pointer-events: none; */
  overflow: hidden;
  position: relative;
}

.menu-box.box-1:hover {
  background: linear-gradient(to left, #d7a4f9, #fca3c4);
}
.menu-box.box-1:hover .menu-box-background {
  background-image: url("../project/ally/ally-hero.png");
}

.menu-box.box-2:hover {
  background: linear-gradient(
    to left,
    rgba(252, 100, 0, 0.8),
    rgba(0, 136, 200, 0.6)
  );
}
.menu-box.box-2:hover .menu-box-background {
  background-image: url("../project/organimi/organimi-hero.png");
  background-size: 70%;
}

.menu-box.box-3:hover {
  background: linear-gradient(to left, #ffd9ab, #a6caff);
}
.menu-box.box-3:hover .menu-box-background {
  background-image: url("../project/ecycle/ecycle-hero.png");
}

.menu-box.box-4:hover {
  background: linear-gradient(to right, #fff8f5, #c92f00);
}
.menu-box.box-4:hover .menu-box-background {
  background-image: url("../project/foodie/foodie-image.png");
  background-size: 60%;
}

.menu-box.box-5:hover {
  background: linear-gradient(to right, #727272, #f2f2f2);
}
.menu-box.box-5:hover .menu-box-background {
  background-image: url("../project/citation/citation-hero.png");
}

.menu-box.box-6:hover {
  background: linear-gradient(to left, #dd6243, #fdbf50);
}
.menu-box.box-6:hover .menu-box-background {
  background-image: url("../project/pick-a-paw/pickapaw-hero.png");
}

.menu-box-filter {
  height: 50vh;
  width: 40vw;
  position: absolute;
  background-color: rgba(34, 30, 31, 0.2);
  display: none;
  z-index: 50;
}
.menu-box-background {
  height: 50vh;
  width: 40vw;
  position: absolute;
  background-color: transparent;
  background-size: 35%;
  background-position: right center;
  background-repeat: no-repeat;
  z-index: 5;
}

.menu-box:hover .menu-box-filter {
  display: block;
}

.menu-box:hover .menu-box-subtitle,
.menu-box:hover .menu-box-title,
.menu-box:hover .menu-box-intro {
  color: #ffffff !important;
}

.menu-box-content {
  padding-left: 3vw;
  padding-top: 3vw;
  height: 100%;
  z-index: 100;

  position: relative;
}

.menu-box-subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 27px;
  /* identical to box height */
  z-index: 100;
  letter-spacing: 0.05em;
  color: #000;
}

.menu-box-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 3vw;
  line-height: 8.5rem;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #ed9200;
}

.menu-box-intro {
  width: 30vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 2.5vw;

  color: #000;
}

.discover-button {
  margin-top: 2.5rem;
  position: absolute;
  bottom: 3vw;
  pointer-events: auto;
  display: inline-block;
}

.arrow-button {
  position: absolute;
  top: 30px;
  left: 35px;
}

.lock-button {
  position: absolute;
  top: 30px;
  left: 33px;
  height: 18px;
}

/* ABOUT section------------ */
/* ABOUT section------------ */

#about {
  padding-top: 11rem;
  transform: translateY(-11rem);
  margin-bottom: -11rem;
}

.intro-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}

.intro-para {
  padding-top: 4rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  line-height: 2vw;
  letter-spacing: 0.02em;

  color: #000;
}

.intro-image img {
  margin-top: 15px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* CONTACT section------------ */
/* COMTACT section------------ */

.contact-style {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 8vw;
  line-height: 5vw;
  letter-spacing: 0.02em;
  padding-top: 15vw;
  padding-bottom: 2vw;

  color: #ed9200;
}

.contact-line1 {
  text-align: center;
  /* padding-top: 2vw; */
  padding-bottom: 5vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.15vw;
  line-height: 2vw;
  /* identical to box height */

  color: #000;
}

.contact-line2 {
  text-align: center;
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  font-size: 1vw;
  /* identical to box height */

  color: #000;
}

#for-tam {
  text-decoration: none;
}

.contact-rectangle {
  width: 80vw;
  height: 35vw;
  width: 80vw;

  border: 2px solid #000000;
  box-sizing: border-box;
}

.contact-link {
  position: relative;
  width: 80vw;
  height: 10vh;
  border: 2px solid #000000;
  border-top-style: none;
  box-sizing: border-box;
}

.all-links {
  display: inline-block;
  vertical-align: middle;
  justify-content: space-between;
}

.contact-link > div {
  width: 80vw;
  display: flex;
  justify-content: space-around;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.02em;
}

/* Hover Mouse */

#for-tam {
  color: #ba4a4a;
}
#for-tam:hover {
  font-weight: bolder;
  text-transform: uppercase;
}

.gmail a,
.behance a,
.linkedin a,
.resume a {
  color: #000000;
  text-decoration: none;
}

.gmail a:hover {
  color: #bb001b;
}
.behance a:hover {
  color: #053eff;
}
.linkedin a:hover {
  color: #0077b5;
}
.resume a:hover {
  color: #ed9200;
}
/* Hover Mouse */

/* BOOTSTRAP SECTION --------------- */
/* BOOTSTRAP SECTION --------------- */
